@model IEnumerable<SportsEquipmentRental.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (!Model.Any())
{
    <p>There are no customers</p>
}
else
{
    <table class="table table-bordered table-hover" id="customers">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>
                        @Html.ActionLink("View details", "Details", "Customers", new { id = customer.Id }, null)</td>
            </tr>
        }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function()
        {
            $("#customers").DataTable();
        })
    </script>

}